<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ns.pongattempt1" >


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NS Breakout Game"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".pong1"
            android:label="NS Breakout Game" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".HighScoreActivity"
            android:label="Top 10 Scores"
             android:parentActivityName=".pong1">>
        </activity>
        <activity
            android:name=".RecordScoreActivity"
            android:label="Score"
            android:parentActivityName=".pong1">
        </activity>
    </application>

</manifest>
